rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /vocab/{vocabId} {
      allow read: if request.auth != null;
    }
  }
}