@font-face {
    font-family: 'Aozora Mincho';
    src: url('AozoraMinchoLight.eot');
    src: url('AozoraMinchoLight.eot?#iefix') format('embedded-opentype'),
        url('AozoraMinchoLight.woff2') format('woff2'),
        url('AozoraMinchoLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Aozora Mincho';
    src: url('AozoraMinchoMedium.eot');
    src: url('AozoraMinchoMedium.eot?#iefix') format('embedded-opentype'),
        url('AozoraMinchoMedium.woff2') format('woff2'),
        url('AozoraMinchoMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Aozora Mincho';
    src: url('AozoraMincho-thin.eot');
    src: url('AozoraMincho-thin.eot?#iefix') format('embedded-opentype'),
        url('AozoraMincho-thin.woff2') format('woff2'),
        url('AozoraMincho-thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Aozora Mincho';
    src: url('AozoraMinchoRegular.eot');
    src: url('AozoraMinchoRegular.eot?#iefix') format('embedded-opentype'),
        url('AozoraMinchoRegular.woff2') format('woff2'),
        url('AozoraMinchoRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aozora Mincho';
    src: url('AozoraMinchoHeavy.eot');
    src: url('AozoraMinchoHeavy.eot?#iefix') format('embedded-opentype'),
        url('AozoraMinchoHeavy.woff2') format('woff2'),
        url('AozoraMinchoHeavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Aozora Mincho';
    src: url('AozoraMincho-bold.eot');
    src: url('AozoraMincho-bold.eot?#iefix') format('embedded-opentype'),
        url('AozoraMincho-bold.woff2') format('woff2'),
        url('AozoraMincho-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Aozora Mincho';
    src: url('AozoraMinchoBlack.eot');
    src: url('AozoraMinchoBlack.eot?#iefix') format('embedded-opentype'),
        url('AozoraMinchoBlack.woff2') format('woff2'),
        url('AozoraMinchoBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

